<!-- 
 * @param {Object} posts
 -->
<% posts.forEach((post) => { %>
    <article class="media">
       <% if (has_thumbnail(post)) { %>
            <a class="media-left" href="<%= url_for(post.path) %>">
                <p class="image is-64x64">
                    <img class="thumbnail" src="<%= get_thumbnail(post) %>" alt="<%= post.title %>">
                </p>
            </a>
        <% } %>
        <div class="media-content">
            <div class="content">
                <time class="has-text-light is-size-7 is-block" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
                <a class="is-link-strong is-size-6 is-single-line" href="<%= url_for(post.path) %>"><%= post.title %></a>
                <div class="level article-meta is-mobile">
                    <div class="level-left">
                        <% if (post.categories && post.categories.length) { %>
                            <div class="level-item is-size-7 is-uppercase">
                                <%- list_categories(post.categories, {
                                    class: 'is-link-light is',
                                    show_count: false,
                                    style:'none',
                                    separator:' / '
                                }) %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </article>
<% }) %>